{
    "extends": [
        "react-app",
        "react-app/jest",
        "prettier"
    ],
    "overrides": [
        {
            "files": [
                "**/*.ts?(x)"
            ],
            "rules": {
                "import/no-anonymous-default-export": "off"
            }
        }
    ]
}